numpy
rlgym_sim @ git+https://github.com/AechPro/rocket-league-gym-sim@main
tensorboard
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
gym
rlbot
rlgym_compat
RocketSim
rlviser-py